---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import BriefCaseIcon from "../components/Icons/BriefCase.astro";
import ProfileCheck from "../components/Icons/ProfileCheck.astro";
import CodeIcon from "../components/Icons/Code.astro";
import Experience from "../components/Experience.astro";
import TitleSection from "../components/TitleSection.astro";
import Hero from "../components/Hero.astro";

// Importamos la utilidad para traducciones
import { getContent } from "../utils/translations";

// Obtenemos el idioma actual usando la función nativa de Astro
const currentLocale = Astro.currentLocale || "es";
const content = getContent(currentLocale);
---

<Layout
    title={`${content.title} - ${content.description}`}
    description={content.metaDescription}
>
    <main class="px-4 mt-24 md:mt-5">
        <!-- Presentation -->
        <SectionContainer class="pb-14 md:py-36">
            <Hero>
                <slot />
            </Hero>

            <!-- <img
                class="rounded-full size-16 mt-32"
                src="/public/photoProfilo2.png"
                alt="Guille"
            />
            <h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-1 pt-2 ">
                {content.greeting}
                <a
                    href="https://linkedin.com/in/ghuamano"
                    target="_blank"
                    rel="noopener"
                    class="flex justify-center items-center"
                >
                    <Badge>{content.availability}</Badge></a
                >
            </h1>
            <h5 class="text-xl flex flex-row pb-10">
                <span class="text-yellow-200/90">{content.bio.role}</span>
            </h5>

            <h3 class="text-2xl text-wrap mb-5">
                {content.bio.profession}
                <span class="text-yellow-200/90">{content.bio.skills}</span>
            </h3>
            <h3 class="text-2xl text-wrap">
                {content.bio.specialty}
            </h3>

            <div class="flex gap-x-4 my-20 justify-center" id="contact">
                <SocialPill href="https://www.linkedin.com/in/ghuamano/">
                    <LinkedInIcon class="size-6" />
                    LinkedIn
                </SocialPill>

                <SocialPill href="https://github.com/ghuamano">
                    <GitHubIcon class="size-6" />
                    GitHub
                </SocialPill>

                <SocialPill href="mailto:g.huaman.o@gmail.com">
                    <EmailIcon class="size-6" />
                    g.huaman.o@gmail.com
                </SocialPill>
            </div> -->
        </SectionContainer>

        <!-- Projects -->

        <SectionContainer id="projects" class="pb-10">
            <div class="space-y-24">
                <!-- <h2 class="text-2xl font-semibold mb-6 flex gap-x-5 items-center"> -->
                <TitleSection>
                    <CodeIcon class="size-7" />
                    {content.sections.projects}
                </TitleSection>
                <Projects />
            </div>
        </SectionContainer>

        <!-- Experience -->

        <SectionContainer id="experience" class="py-16">
            <TitleSection>
                <BriefCaseIcon class="size-7" />
                {content.sections.experience}
            </TitleSection>
            <Experience />
        </SectionContainer>
        <!-- About Me -->
        <SectionContainer id="about-me">
            <TitleSection>
                <ProfileCheck class="size-8" />
                {content.nav.about}
            </TitleSection>
            <AboutMe />
        </SectionContainer>

        
    </main>
</Layout>
