---
const personalImageAlt = "Guillermo Huaman";

// Importamos la utilidad para traducciones
import { getContent } from "../utils/translations";

// Obtenemos el idioma actual usando la función nativa de Astro
const currentLocale = Astro.currentLocale || "es";
const content = getContent(currentLocale);
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-200/90 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
            <p>
                {content.about.intro}
                <strong>{content.about.nickname}</strong>{content.about.intro2}<strong>{
                    content.about.electronic
                }</strong>{content.about.intro3}<strong>{content.about.plc}</strong>{content.about.intro4}
            </p>

            <p>
                {content.about.middle}<strong>{content.about.years}</strong>{
                    content.about.middle2
                }<strong>{content.about.engineering}</strong>{content.about.middle3}
            </p>

            <p>
                {content.about.end}<strong>{content.about.bootcamp}</strong>{content.about.end2}<strong>{
                    content.about.java}</strong>{content.about.end3}<strong>{content.about.specialty}</strong>{
                    content.about.end4
                }
            </p>
        </div>

        <img
            width="200"
            height="200"
            src="/public/images/photoAbout.webp"
            alt={personalImageAlt}
            class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
            style="object-position: 50% 50%"
        />
    </div>
</article>
