---
import Badge from "../components/Badge.astro";
import LinkedInIcon from "./Icons/LinkedIn.astro";
import MailIcon from "./Icons/Email.astro";
import SocialPill from "./SocialPill.astro";
import GitHubIcon from "./Icons/GitHub.astro";

// Importamos la utilidad para traducciones
import { getContent } from "../utils/translations";

// Obtenemos el idioma actual usando la función nativa de Astro
const currentLocale = Astro.currentLocale || "es";
const content = getContent(currentLocale);
---

<div class="max-w-2xl">
    <div class="flex gap-4 mb-4">
        <img
            class="rounded-full shadow-lg size-16"
            src="/public/photoProfilo2.png"
            alt="Guille"
        />
        <a
            href="https://linkedin.com/in/ghuamano"
            target="_blank"
            rel="noopener"
            class="flex items-center transition md:justify-center md:hover:scale-105"
        >
            <Badge>{content.availability}</Badge>
        </a>
    </div>
    <h1
        class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white pb-1"
    >
        {content.greeting}
    </h1>
    <h5 class="text-xl flex flex-row pb-10">
        <span class="text-yellow-200/90">{content.bio.role}</span>
    </h5>
    <p
        class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
    >
        {content.bio.profession}
        <strong>{content.bio.skills}</strong>
    </p>
    <p
        class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
    >
        
        
        {content.bio.specialty}
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
        
        <SocialPill href="https://linkedin.com/in/ghuamano">
            <LinkedInIcon class="size-4" />
            LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/ghuamano">
            <GitHubIcon class="size-4" />
            GitHub
        </SocialPill>
        <SocialPill href="mailto:g.huaman.o@gmail.com">
            <MailIcon class="size-4" />
            {content.contactMe}
        </SocialPill>
        
    </nav>
</div>
